:host {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.tester-navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px 16px;
}

.navbar-header {
  width: 60%;
  margin: 0 auto;
}
