<div class="nav-list-container">
  <nav *ngFor="let navigation of navConfig; let last = last" class="nav-list">
    <button
      #navBtn="cdkAccordionItem"
      mat-icon-button
      cdkAccordionItem
      class="nav-button"
      expanded="true"
      (click)="navBtn.toggle()"
    >
      {{ navigation.title }}
      <mat-icon
        class="nav-button-icon"
        [fontIcon]="navBtn.expanded ? 'fa-angle-down' : 'fa-angle-up'"
      ></mat-icon>
    </button>
    <ul [@navExpansion]="navBtn.expanded ? 'expanded' : 'collapsed'" class="nav-list-items">
      <li *ngFor="let navLink of navigation?.links">
        <a [routerLink]="navLink.link" class="nav-item-link" routerLinkActive="active">{{ navLink?.name }}</a>
      </li>
    </ul>
    <hr *ngIf="!last">
  </nav>
</div>
