@import './../../../../node_modules/@angular/material/theming';

@import './../app/shared/navbar/navbar.theme';
@import './../app/pages/page-header/_page-header.theme';
@import './../app/pages/page-nav-list/page-nav-list.theme';
@import './../app/pages/page-nav-views/d3-joindata/d3-joindata.theme';
@import './../app/pages/page-nav-views/d3-shuffle-a/_d3-shuffle-a.theme';


@mixin material-app-theme($theme) {
  $primary: map_get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  @include navbar-theme($theme);
  @include page-header-theme($theme);
  @include page-nav-list-theme($theme);
  @include d3-joindata-theme($theme);
  @include d3-shuffle-a-theme($theme);
}
