<div class="root-container">
  <h1 class="root-title">{{ title | titlecase }}</h1>
  <div class="svg-container">
    <h2>1. shuffle算法 - 1</h2>
    <svg
      #svgEle1
      id="svgEle1"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g>
        <text x="25" y="25">{{ timer1 | date: 'mm:ss:S' }}</text>
        <text #lineCount1 x="100" y="25" class="lineCount">200</text>
      </g>
    </svg>
    <pre>
      <code #code1 class="code-container">
function shuffle(arr: number[])
{{'{'}}
  const copy: number[] = [];
  const len = arr.length;
  while(len) {{'{'}}
    const i = ~~(Math.random()*arr.length);
    if(arr[i]){{'{'}}
      copy.push(arr[i]);
      delete arr[i];
      len--;
    {{'}'}}
  {{'}'}}
  return copy;
{{'}'}}
    </code>
    </pre>
  </div>
  <div class="svg-container">
    <h2>2. shuffle算法 - 2</h2>
    <svg
      #svgEle2
      id="svgEle2"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g>
        <text x="25" y="25">{{ timer2 | date: 'mm:ss:S' }}</text>
        <text #lineCount2 x="100" y="25" class="lineCount">200</text>
      </g>
    </svg>
    <pre>
      <code #code2 class="code-container">
function shuffle(arr: number[])
{{'{'}}
  const copy: number[] = [];
  let len = arr.length;
  while(len){{'{'}}
    const i = ~~(Math.random()*len--);
    copy.push(arr.splice(i,1)[0]);
  {{'}'}}
  return copy;
{{'}'}}
      </code>
    </pre>
  </div>
  <div class="svg-container">
    <h2>3. shuffle算法 - 3</h2>
    <svg
      #svgEle3
      id="svgEle3"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g>
        <text x="25"  y="25" >{{timer3 | date:'mm:ss:S'}}</text>
        <text #lineCount3 x="100"  y="25" class="lineCount">200</text>
      </g>
    </svg>
    <pre>
      <code #code3 class="code-container">
function shuffle(arr: number[])
{{'{'}}
  let len = arr.length;
  while(len) {{'{'}}
    const i = ~~(Math.random()*len--);
    const temp = arr[len];
    arr[len] = arr[i];
    arr[i] = temp;
  {{'}'}}
  return arr;
{{'}'}}
      </code>
    </pre>
  </div>
</div>
