<div class="root-container">
  <h1 class="root-title">{{'d3 - shuffle - a' | titlecase}}</h1>
  <div class="svg-container">
    <h2>1. shuffle算法 - 1</h2>
    <svg #svgEle1
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g><text class="timer" x="25"  y="25">{{timer1 | date:'mm:ss:S'}}</text></g>
    </svg>
    <pre>
      <code #code class="code-container">function shuffle(arr: number[])
{{'{'}}
  const copy: number[] = [];
  const len = arr.length;
  while(len) {{'{'}}
    const i = ~~(Math.random()*arr.length);
    if(arr[i]){{'{'}}
      copy.push(arr.splice(i,1)[0]);
      len--;
    {{'}'}}
  {{'}'}}
  return copy;
{{'}'}}</code>
    </pre>
  </div>
</div>
