:host {
  display: flex;
  flex: 1;
}

.root-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  padding: 30px;
  align-items: center;

  h1 {
    font-family: Roboto-Bold;
    font-size: 20px;
  }

  h2 {
    font-family: Roboto-Bold;
    color: #666;
    font-size: 18px;
  }
}

.svg-container {
  width: 1040px;
  text {
    font-family: Roboto-Bold;
    font-size: 24px;
  }
}

.text-container {
  background: #eee;
  padding-left: 50px;
}
