<div class="root-container">
  <h1>d3 - joindata</h1>
  <div #svgContainer1 class="svg-container">
    <h2>1. 常规更新模式</h2>
  </div>
  <div #svgContainer2 class="svg-container">
    <h2>2. 通过keyFunc控制元素的数据绑定</h2>
  </div>
  <div #svgContainer3 class="svg-container">
    <h2>3. 数据绑定的过渡动画</h2>
  </div>
  <div class="svg-container">
    <h2>4. 文本的补间动画</h2>
    <div #textContainer1 class="text-container">
      <p>0</p>
    </div>
    <div #textContainer2 class="text-container text-fade">
      <p>0</p>
    </div>
  </div>
</div>
